.App {
  text-align: center;
}

#quote-box {
  align-items: center;
  
  height: 100%;
  margin-top: 20vh;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20vh;


  width:80%;
  justify-content: center;
  
  border: 3px solid green;
  padding: 20px
}

a {
  margin-left:  20px;
}

.quoteArea {
  display: block;
}

.buttonArea {
  
  width: 100%;

}
button {
  background-color: gray;
  color: green;
  border: 2px green solid;
  height: 40px;
  width: 100px;
  margin: 10px;

}


#tweetQuote{
  
  width: 50px;
  color: rgb(42, 175, 219);
  border: 2px rgb(42, 175, 219) solid;
  

}

#author {
  font-size: 20px;
}